body{
    font-family: Roboto;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    font-size: 35px;
    padding: 10px 20px;
    margin: 0;
    background-color: #2F80ED;
    color: aliceblue;
}
#container{
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
input{
    text-align: ;
    font-size: 20px;
    height: 40px;
    width: 100%;
    padding: 5px 46px;
    box-sizing: border-box;
    border: 0;
}
input:focus{
    border: 3px solid black;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
span{
    color: white;
    padding-top: 5px;
    background: red;
    height: 40px;
    margin-right: 40px;
    text-align: center;
    width: 0;
    display: inline-block;
    opacity: 0;
    transition: 0.2s linear;
}
li{
    margin: 0;
    padding: 0px;
    border: 0;
    font-size: 20px;
    background-color: #f7f7f7;
}
li:nth-child(2n){
    background: white;
}
li:hover span{
    width: 50px;
    opacity: 1;
}
.fa-plus{
    float: right;
}